body {
  background-color: rgb(255, 255, 255);
}

.gameboard {
    display: flex;
    gap: 100px;
}

.announcer {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.titleP1, .titleP2 {
    font-weight: 600;
    font-size: 20px;
}

.playerOne, .playerTwo {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(10, 30px);
}

.ships1, .ships2 {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  height: min-content;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.cell {
    margin: 0;
    padding: 0;
    text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
}

.hidden {
  display: none;
}

