:root {
  --cellSize: 50px
}

body {
  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameboard {
    display: flex;
    gap: 100px;
}

.announcer {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: max-content;
    height: 20px;
  }
}

.errorPanel {
  color: red;
  font-size: 50px;
  font-weight: 800;
}

.titleP1, .titleP2 {
    font-weight: 600;
    font-size: var(--cellSize);
}

.playerOne, .playerTwo {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.ships1, .ships2 {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  height: min-content;
}


.buttonContainer {
  align-items: center;
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  button {
    background-color: black;
    height: 50px;
    width: 50px;
  }
  div {
    width: max-content;
  }
}

.cell {
    margin: 0;
    padding: 0;
    text-align: center;
  width: var(--cellSize);
  height: var(--cellSize);
  border: 1px solid rgb(0, 0, 0);
  font-size: var(--cellSize);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
}

.hidden {
  display: none;
}

